:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-background-color: #2f303a;
  --white-text-color: #ffffff;
  --team-background-color: #f5f4fa;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--title-text-color);
}
/* прибираємо точки списків */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* скидаємо margin */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

/* прибираємо підкреслення посилань */
.link {
  text-decoration: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* разметка контейнеров */
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* ========= Шапка сайта ========= */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;

  background-color: #ffffff;
}
/* flex i вирiвняти елементи меню по центру */
.header .container,
.header-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-span {
  color: var(--accent-color);
}
.header-nav-list {
  display: flex;
  margin-left: 93px;
}
.header-nav-item:not(:last-child) {
  margin-right: 50px;
}
.header-nav-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-link.current::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -33px;
  background-color: var(--accent-color);
}
.header-contact-list {
  display: flex;
  margin-left: auto;
}
/* margin-right: 50px для всiх крiм останого елемента меню */
.header-contact-item:not(:last-child) {
  margin-right: 50px;
}
.header-contact-link {
  display: inline-flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}
.header-nav-link:hover,
.header-nav-link:focus,
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}
.header-nav-link.current {
  color: var(--accent-color);
}
/* ========= main index.html ========= */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
.hero-button {
  display: inline-block;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  min-width: 216px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  cursor: pointer;
}

/* ========= Переваги ========= */
.features {
  padding-bottom: 0;
}
.features-list {
  display: flex;
}
.features-list-item:not(:last-child) {
  margin-right: 30px;
}
.features-list-item {
  min-width: 270px;
}
.features-icon-fon {
  display: flex;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: var(--team-background-color);
}
.features-icon {
}
.features-list-title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.features-list-p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* ========= Чим ми займаємося ========= */
.work-title {
  margin-bottom: 50px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.work-list {
  display: flex;
}
.work-list-item:not(:last-child) {
  margin-right: 30px;
}
.work-list-item {
  position: relative;
}
.work-list-link {
}
.work-list-p {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;

  padding: 27px 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}
/* ========= Команда ========= */
.team {
  background-color: var(--team-background-color);
  text-align: center;
}
.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-list {
  display: flex;
}
.team-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.team-list-div {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-list-item > img {
  display: block;
  max-width: 100%;
}
.team-list-item:not(:last-child) {
  margin-right: 30px;
}
.team-list-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-list-p {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.team-social-list {
  display: flex;
  padding: 0 32px;
  margin-top: 16px;
  justify-content: space-between;
  align-items: center;
}
.team-social-item {
  width: 44px;
  height: 44px;
}
.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon {
  fill: #ffffff;
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
}
/* ========= Клієнти ========= */
.client {
}
.client-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.client-list {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}
.client-item {
  width: 170px;
  height: 92px;
}
.client-item:not(:last-child) {
  margin-right: 30px;
}
.client-link {
  display: flex;
  padding: 16px 32px;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 2%;
  background-color: #ffffff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color);
}
.client-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--accent-color);
}
/* ========= Футер ========= */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--hero-background-color);
}
.footer-flex {
  display: flex;
  align-items: baseline;
}
.footer-contact-flex {
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}
.footer-logo-span {
  color: var(--accent-color);
}
.footer-contact {
  font-style: normal;
  width: 231px;
}
.footer-contact-p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}
.footer-contact-list {
}
.footer-contact-item {
  margin-top: 9px;
}
.address-list-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-link:hover,
.address-list-link:focus {
  color: var(--accent-color);
}
.footer-join-flex {
  margin-left: 70px;
  width: 206px;
}
.footer-join-p {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-join-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-join-item {
  width: 44px;
  height: 44px;
}
.footer-join-item:not(:last-child) {
  margin-right: 10px;
}
.footer-join-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: #ffffff10;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-join-link:hover,
.footer-join-link:focus {
  background-color: var(--accent-color);
}
.footer-join-icon {
  fill: #ffffff;
}
.footer-submit {
  margin-left: 93px;
  width: 570px;
}
.footer-submit-text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.footer-submit-form {
  display: flex;
}
.footer-submit-label {
}
.footer-submit-input {
  width: 358px;
  margin: 0;
  padding: 15px 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--hero-background-color);
  color: var(--white-text-color);
}
.footer-submit-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.footer-submit-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: none;
  margin: 0;
  padding: 10px 28px;
  border-radius: 4px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  margin-left: 12px;
  cursor: pointer;
}
.footer-submit-btn::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/send.svg);
}
/* ========= portfolio ========= */
.portfolio-nav {
  display: flex;
  justify-content: center;
}
.portfolio-nav-item {
  margin-bottom: 50px;
  margin-left: 8px;
}
.portfolio-nav-btn {
  padding: 6px 22px;
  border: 0px;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.86;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--team-background-color);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-nav-btn:hover,
.portfolio-nav-btn:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
/*  width: calc(100% / 3) + 2 вiдступи*/
.portfolio-list-item {
  width: calc((100% - 60) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  background: #ffffff;
}
.portfolio-list-item > img {
  display: block;
  min-width: 100%;
}
/* нижнiм трьом елементам margin-bottom: 0 */
.portfolio-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
/* кожному третьому елементу margin-right: 0 */
.portfolio-list-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-list-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-link:hover,
.portfolio-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-description {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-description-p {
  position: absolute;
  top: 0;
  left: 0;

  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.portfolio-list-div {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.portfolio-list-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.portfolio-list-p {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* ========= modal ========= */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: scale(2);
}
.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;

  background-color: #fff;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  right: 8px;
  top: 8px;
  background-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
  fill: var(--accent-color);
  outline: none;
}
.form {
  padding: 40px;
}
.form-title-p {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--title-text-color);

  margin-bottom: 2px;
}
.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
  margin-top: 10px;
  margin-bottom: 4px;
}
.form-input {
  width: 100%;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
}
.input-icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(25%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover,
.form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.form-input:hover + .input-icon,
.form-input:focus + .input-icon {
  fill: var(--accent-color);
}
.comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment:hover,
.comment:focus {
  outline: none;
  border-color: var(--accent-color);
}
.comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.contact-form-checkbox-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px auto 30px auto;
}
.contact-form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.contact-form-checkbox-label::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
  transition: background-image 5250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
  background-image: url(../images/icon-check.svg);
  background-position: center;
  border: 0;
}
.contact-form-checkbox:focus + .contact-form-checkbox-label::before {
  border: 2px solid var(--accent-color);
}
.contact-form-checkbox-label {
  display: flex;
  font-size: 14px;
  align-items: center;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.contact-form-checkbox-a {
  color: var(--accent-color);
}
.contact-form-submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  padding: 10px 52px;

  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-submit-btn:hover,
.contact-form-submit-btn:focus {
  background-color: #188ce8;
  outline: none;
}
