:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-background-color: #2f303a;
  --white-text-color: #ffffff;
  --team-background-color: #f5f4fa;
}
